/* Import Google Font - Shadows Into Light Two */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shadows Into Light Two', cursive;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: grey;
}
.wrapper{
    background: white;
    width: 800px;
    border-radius: 10px;
    padding: 35px;
}
.wrapper .input-field{
    z-index: -999;
    opacity: 0;
    position: absolute;
}
.wrapper .content-box{
    padding: 12px 20px 0;
    border: 3px solid gainsboro;
    border-radius: 10px;
}
.content-box .typing-text{
    max-height: 250px;
    overflow-y: auto;
}
.typing-text::-webkit-scrollbar{
    width: 0;
}
.typing-text p{
    font-size: 20px;
    text-align: justify;
    letter-spacing: 1px;
    word-break: break-all;
}
.typing-text p span{
    position: relative;
}
.typing-text p span.correct{
    color: white;
}
.typing-text p span.incorrect{
    color: red;
}
.typing-text p span.active{
    color: black;
}
.typing-text p span.active::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    opacity: 0;
    background: black;
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    50%{
        opacity: 1;
    }
}

.content-box .content{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding: 15px 0;
    align-items: center;
    border-top: 1px solid gainsboro;
}
.content button{
    background: gainsboro;
    border: none;
    outline: none;
    width: 100px;
    padding: 10px 0;
    color: black;
    cursor: pointer;
    font-size: 17px;
    border-radius: 10px;
    transition: transform 0.5s ease;
}
.content button:active{
    transform: scale(0.9);
}
.content .result-details{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 130px);
}
.result-details li{
    display: flex;
    list-style: none;
    height: 25px;
    align-items: center;
    margin-top: 10px;
}
.result-details li:not(:first-child){
    border-left: 1px solid gainsboro;
    padding-left: 50px;
}
.result-details li p{
    font-size: 15px;
}
.result-details li span{
    display: block;
    margin-left: 10px;
    font-size: 20px;
}
